<section id="container" class="sub-page">
  <div class="wrap-container zerogrid">
    <div class="crumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </div>
    <div id="main-content">
      <div class="wrap-content">
        <% galleryData.forEach((item,index)=>{%> <% if(index%3===0){%>
        <div class="row">
          <%} %>

          <div class="col-1-4">
            <div class="zoom-container">
              <a href="#">
                <span class="zoom-caption">
                  <span><%= item.caption %></span>
                </span>
                <img src="<%=item.img %>" />
              </a>
            </div>
          </div>
          <% if(index+1 % 3===0 ||index === galleryData.length - 1){%>
        </div>
        <%} %> <% }) %>
      </div>
    </div>
  </div>
</section>
